<template>
	<AppPage>
		<div v-if="!hasViewPermission">
			You do not have permission to view this page
		</div>
		<div v-if="hasViewPermission">
			<div class="float-right">
				<b-button :to="{ name: 'system-admin-users' }"
					>Back to Admin Users</b-button
				>
			</div>
			<h1>User Permissions for {{ username }}</h1>
			<b-button v-b-toggle.colMainHelp>Show Help</b-button>
			<b-collapse id="colMainHelp">
				<p class="mt-2">
					Toggling the switch on a card will control whether the user will be
					able to access the page that the card represents.
				</p>
				<p>
					Within each card/page, are listed the permissions that the page
					utilizes. You may control those individual permissions, but they are
					global across the application. For example, if you do not allow
					searching for courses (get:courses), the user will not be able to
					search for courses regardless of the page they are viewing. This is
					intentional for 2 reasons. First, the server cannot differentiate
					where the request is coming from (nor does it care). It simply is
					asked for a listing of courses and it delivers that information.
					Second, it doesn't make sense to allow a user to search for courses on
					one page and not another as they could just go to that page they would
					have permission to and search for courses there.
				</p>
				<p>
					At a bare minimum, a user needs to have the page, Home, as well as all
					of the permissions within it in order to access this application.
				</p>
				<p>
					Click on the <b-icon-info-circle variant="info" /> button on any page
					or permission to get more information about it.
				</p>
				<p>
					If you would like to see where exactly in the application the
					permissions are being used, first edit yourself and check the box next
					to `Show Admin Help Info`. Refresh the page (F5). Then navigate around
					the application. Tooltips with the name of the permission(s) will
					appear on objects that require or trigger the use of a permission. As
					this feature can be annoying in regular use, feel free to toggle that
					back off on your user, being sure to refresh the page in order to make
					them go away.
				</p>
			</b-collapse>
			<b-overlay :show="isFetching" rounded="sm">
				<b-card-group deck>
					<b-card
						v-for="page in adminPagesPermissions"
						:key="'page_' + page.id"
						:title="page.description"
						class="mt-3"
						style="min-width: 250px"
					>
						<template #header>
							<b-container>
								<b-row>
									<b-col class="text-left">
										<AdminPageCheckbox
											:key="page.id"
											:admin-page-id="page.id"
											:admin-user-id="adminUser.id"
											:route-name="page.routeName"
										/>
									</b-col>
									<b-col class="text-right">
										<b-icon-info-circle
											variant="info"
											v-b-modal.modal-admin-user-permissions-page
											@click.stop.prevent="selectPageForInfoModal(page.id)"
										/>
									</b-col>
								</b-row>
							</b-container>
						</template>
						<b-container
							v-for="perm in page.adminPermissions"
							:key="'page_' + page.id + ':perm_' + perm.id"
						>
							<b-row class="my-3">
								<b-col>
									<AdminPermissionCheckbox
										:key="
											'page' +
												page.id +
												'_perm' +
												perm.id +
												'_refresh' +
												refreshId
										"
										:unique-id="'page' + page.id + '_perm' + perm.id"
										:admin-user-id="adminUser.id"
										:admin-permission-id="perm.id"
										:admin-page-route-name="page.routeName"
										:name="perm.name"
										:label="perm.name"
									/>
								</b-col>
								<b-col cols="1">
									<b-icon-info-circle
										variant="info"
										v-b-modal.modal-admin-user-permissions-permission
										@click.stop.prevent="
											selectPermissionForInfoModal(page.id, perm.id)
										"
									/>
								</b-col>
							</b-row>
						</b-container>
					</b-card>
				</b-card-group>
			</b-overlay>
			<b-modal id="modal-admin-user-permissions-permission">
				<template #modal-title>{{ permissionInfo.name }}</template>
				<b-container>
					<b-row>
						<b-col cols="4">Name</b-col>
						<b-col>{{ permissionInfo.name }}</b-col>
					</b-row>
					<b-row>
						<b-col cols="4">Category</b-col>
						<b-col>{{ permissionInfo.category }}</b-col>
					</b-row>
					<b-row>
						<b-col cols="4">Description</b-col>
						<b-col>{{ permissionInfo.description }}</b-col>
					</b-row>
					<b-row>
						<b-col cols="4">Server Method</b-col>
						<b-col>{{ permissionInfo.action }}</b-col>
					</b-row>
					<b-row>
						<b-col cols="4">Server Route</b-col>
						<b-col>{{ permissionInfo.route }}</b-col>
					</b-row>
					<b-row>
						<b-col cols="4">Is Active</b-col>
						<b-col>{{ permissionInfo.isActive }}</b-col>
					</b-row>
					<b-row>
						<b-col cols="4">ID</b-col>
						<b-col>{{ permissionInfo.id }}</b-col>
					</b-row>
				</b-container>
			</b-modal>
			<b-modal id="modal-admin-user-permissions-page">
				<template #modal-title>{{ pageInfo.routeName }}</template>
				<b-container>
					<b-row>
						<b-col cols="4">Route Name</b-col>
						<b-col>{{ pageInfo.routeName }}</b-col>
					</b-row>
					<b-row>
						<b-col cols="4">Page Navigation</b-col>
						<b-col>{{ pageInfo.description }}</b-col>
					</b-row>
					<b-row>
						<b-col cols="4">Is Active</b-col>
						<b-col>{{ pageInfo.isActive }}</b-col>
					</b-row>
					<b-row>
						<b-col cols="4">ID</b-col>
						<b-col>{{ pageInfo.id }}</b-col>
					</b-row>
				</b-container>
			</b-modal>
		</div>
	</AppPage>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { BIconInfoCircle } from "bootstrap-vue";

export default {
	components: {
		BIconInfoCircle
	},
	data() {
		return {
			id: "",
			refreshId: 0,
			selectedPermisionForInfoModal: "",
			selectedPageForInfoModal: ""
		};
	},
	computed: {
		...mapGetters({
      adminUser: "System/AdminUserPermissions/adminUser",
      adminUserFetching: "System/AdminUserPermissions/adminUserFetching",
      adminPagesPermissions: "System/AdminUserPermissions/adminPagesPermissions",
      adminPagesPermissionsFetching: "System/AdminUserPermissions/adminPagesPermissionsFetching",
      hasPermission: "Navbar/hasPermission",
      showAdminHelpInfo: "Navbar/showAdminHelpInfo"
    }),
		isFetching() {
			return this.adminUserFetching || this.adminPagesPermissionsFetching;
		},
		hasViewPermission() {
			return (
				this.hasPermission("get:adminUser-byId") &&
				this.hasPermission("get:adminPage-allWithPermissions")
			);
		},
		username() {
			if (this.adminUser) {
				return this.adminUser.username;
			}

			return "";
		},
		pageInfo() {
			let vThis = this;
			let page = this.adminPagesPermissions.filter(function(app) {
				return app.id === vThis.selectedPageForInfoModal;
			})[0];
			if (!page || page === "undefined") {
				return {
					id: "",
					routeName: "unknown",
					description: "unknown",
					isActive: "",
					adminPermissions: []
				};
			}

			return page;
		},
		permissionInfo() {
			let emptyPerm = {
				id: "",
				category: "",
				route: "",
				action: "",
				description: "",
				isActive: "",
				name: ""
			};
			if (this.pageInfo.id === "") {
				return emptyPerm;
			}

			let vThis = this;
			let perm = this.pageInfo.adminPermissions.filter(function(ap) {
				return ap.id === vThis.selectedPermisionForInfoModal;
			})[0];

			if (!perm || perm === "undefined") {
				return emptyPerm;
			}

			return perm;
		}
	},
	methods: {
		...mapActions({get_adminUser: "System/AdminUserPermissions/get_adminUser"
      , get_adminPagesWithPermissions: "System/AdminUserPermissions/get_adminPagesWithPermissions"}),
		selectPermissionForInfoModal(page, permission) {
			this.selectedPageForInfoModal = page;
			this.selectedPermisionForInfoModal = permission;
		},
		selectPageForInfoModal(page) {
			this.selectedPageForInfoModal = page;
		}
	},
	mounted() {
		this.id = this.$route.params.id;
		if (this.id && this.id > 0) {
			if (this.hasPermission("get:adminUser-byId")) {
				this.get_adminUser({ id: this.id });
			}
			if (this.hasPermission("get:adminPage-allWithPermissions")) {
				this.get_adminPagesWithPermissions();
			}
		}
	}
};
</script>
