<template>
	<AppPage>
		<h1>Admin Utility Users</h1>
		<b-card-group deck>
			<b-overlay :show="adminUsersFetching" rounded="sm">
				<b-card
					id="crdAdminUsers"
					title="Admin Utility Users"
					tag="article"
					style="max-width: 60rem; min-width: 400px;"
					class="mb-2"
					:aria-hidden="adminUsersFetching ? 'true' : null"
				>
					<div class="card-header" v-if="hasPermission('post:adminUser')">
						<b-button
							id="btnAddAdminUser"
							block
							pill
							size="sm"
							v-b-modal.modalAddEditAdminUser
							@click="clearAdminUser()"
							>Add
						</b-button>
						<AdminHelpTooltip
							target="btnAddAdminUser"
							permissions="post:adminUser"
						/>
					</div>
					<div class="card-body">
						<b-table
							id="tblAdminUsers"
							:items="filtered"
							:fields="fields"
							striped
							small
						>
							<template slot="top-row" slot-scope="{ fields }">
								<td
									v-for="field in fields"
									:key="field.key"
									:class="field.class"
								>
									<label
										:for="'sort-' + field.key"
										v-if="field.sortable"
										class="sr-only"
										>{{ field.label }}</label
									>
									<input
										:id="'sort-' + field.key"
										v-model="filters[field.key]"
										:placeholder="field.label"
										size="10"
										v-if="field.sortable"
									/>
								</td>
							</template>
							<template v-slot:cell(actions)="row">
								<span v-if="hasPermission('put:adminUser')">
									<b-button
										:id="'btnEditAdminUser_' + row.item.id"
										size="sm"
										class="mr-1"
										pill
										@click="selectAdminUser(row.item)"
										v-b-modal.modalAddEditAdminUser
									>
										Edit
									</b-button>
									<AdminHelpTooltip
										:target="'btnEditAdminUser_' + row.item.id"
										permissions="put:adminUser"
									/>
								</span>
								<span v-if="hasViewPermission">
									<b-button
										:id="'btnAdminUserPermissions_' + row.item.id"
										size="sm"
										class="mr-1"
										pill
										@click="editPermissions(row.item)"
									>
										Permissions
									</b-button>
									<AdminHelpTooltip
										:target="'btnAdminUserPermissions_' + row.item.id"
										permissions="get:adminPage-allWithPermissions, get:adminUser-byId"
									/>
								</span>
								<span v-if="hasPermission('delete:adminUser')">
									<b-button
										:id="'btnDeleteAdminUser_' + row.item.id"
										size="sm"
										@click="deleteAdminUser(row.item)"
										class="mr-1"
										pill
									>
										Delete
									</b-button>
									<AdminHelpTooltip
										:target="'btnDeleteAdminUser_' + row.item.id"
										permissions="delete:adminUser"
									/>
								</span>
							</template>
						</b-table>
					</div>
				</b-card>
				<AdminHelpTooltip
					target="crdAdminUsers"
					permissions="get:adminUser-all"
				/>
			</b-overlay>
		</b-card-group>
		<b-modal
			id="modalAddEditAdminUser"
			:title="addEditAdminUserTitle"
			@ok="addEditAdminUserAction"
			@cancel="addAdminUserCancel"
		>
			<b-form @submit.stop.prevent="addAdminUser">
				<b-form-group
					id="fgAdminUserUsername"
					label="Username"
					label-for="txtAdminUserUsername"
					description="This is a person's @maine.edu username, without the @maine.edu"
				>
					<b-form-input
						id="txtAdminUserUsername"
						v-model="username"
						placeholder="Username"
						required
						:disabled="mode === 'edit'"
					></b-form-input>
				</b-form-group>
				<b-form-checkbox
					id="chkAdminUserShowAdminHelpInfo"
					v-model="showAdminHelpInfo"
					name="chkAdminUserShowAdminHelpInfo"
					>Show Admin Help Info
				</b-form-checkbox>
				<b-form-checkbox
					id="chkAdminUserIsActive"
					v-model="isActive"
					name="chkAdminUserIsActive"
					>Is Active
				</b-form-checkbox>
			</b-form>
		</b-modal>
	</AppPage>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
	data() {
		return {
			mode: "",
			id: "",
			username: "",
			showAdminHelpInfo: false,
			isActive: true,
			filters: {
				id: "",
				username: ""
			},
			fields: [
				{ key: "id", label: "ID", sortable: true, class: "d-none" },
				{ key: "username", label: "Username", sortable: true, class: "" },
				{
					key: "showAdminHelpInfo",
					label: "Show Admin Help Info",
					sortable: true,
					class: ""
				},
				{ key: "isActive", label: "Is Active", sortable: true, class: "" },
				{ key: "actions", label: "Actions", sortable: false, class: "" }
			]
		};
	},
	computed: {
		...mapGetters({
			items: "System/AdminUsers/adminUsers",
      adminUsersFetching: "System/AdminUsers/adminUsersFetching",
      hasPermission:"Navbar/hasPermission"}),
		filtered() {
			return this.items.filter(item => {
				return Object.keys(this.filters).every(key =>
					String(item[key])
						.toLowerCase()
						.includes(this.filters[key].toLowerCase())
				);
			});
		},
		addAdminUserHasErrors() {
			return this.username === null || this.username.length <= 0;
		},
		addEditAdminUserTitle() {
			if (this.mode === "edit") {
				return "Edit Admin User, " + this.username;
			}

			return "Add Admin User";
		},
		hasViewPermission() {
			return (
				this.hasPermission("get:adminUser-byId") &&
				this.hasPermission("get:adminPage-allWithPermissions")
			);
		}
	},
	methods: {
		...mapActions({
      get_adminUsers:"System/AdminUsers/get_adminUsers",
      delete_adminUser:"System/AdminUsers/delete_adminUser",
      add_adminUser:"System/AdminUsers/add_adminUser",
      edit_adminUser: "System/AdminUsers/edit_adminUser"
    }),
		deleteAdminUser(item) {
			this.$bvModal
				.msgBoxConfirm(
					"Remove " + item.username + "'s access to the admin utility?"
				)
				.then(value => {
					if (value) {
						this.delete_adminUser({
							id: item.id
						});
					}
				});
		},
		addAdminUserOk(modalEvent) {
			if (this.addAdminUserHasErrors) {
				modalEvent.preventDefault();
			}
			this.addAdminUser();
		},
		editAdminUserOk(modalEvent) {
			if (this.addAdminUserHasErrors) {
				modalEvent.preventDefault();
			}
			this.editAdminUser();
		},
		addAdminUser() {
			if (this.addAdminUserHasErrors) {
				return;
			}

			if (this.items.findIndex(au => au.username === this.username) === -1) {
				this.add_adminUser({
					username: this.username,
					showAdminHelpInfo: this.showAdminHelpInfo,
					isActive: this.isActive
				});
			} else {
				this.$store.dispatch("Alerts/add_alert", {
					variant: "warning",
					msg: this.username + " already exists"
				});
			}
		},
		editAdminUser() {
			if (this.addAdminUserHasErrors) {
				return;
			}

			if (this.items.findIndex(au => au.username === this.username) >= 0) {
				this.edit_adminUser({
					id: this.id,
					username: this.username,
					showAdminHelpInfo: this.showAdminHelpInfo,
					isActive: this.isActive
				});
			} else {
				this.$store.dispatch("Alerts/add_alert", {
					variant: "warning",
					msg: this.username + " does not exist"
				});
			}
		},
		addAdminUserCancel() {},
		clearAdminUser() {
			this.mode = "add";
			this.id = "";
			this.username = "";
			this.isActive = true;
			this.showAdminHelpInfo = false;
		},
		selectAdminUser(user) {
			this.mode = "edit";
			this.id = user.id;
			this.username = user.username;
			this.isActive = user.isActive;
			this.showAdminHelpInfo = user.showAdminHelpInfo;
		},
		addEditAdminUserAction(modalEvent) {
			if (this.mode === "edit") {
				this.editAdminUserOk(modalEvent);
			} else {
				this.addAdminUserOk(modalEvent);
			}
		},
		editPermissions(user) {
			this.$router.push({
				name: "system-admin-user-permissions",
				params: { id: user.id }
			});
		}
	},
	mounted() {
		if (this.hasPermission("get:adminUser-all")) {
			this.get_adminUsers();
		}
	}
};
</script>
