<template>
	<AppPage>
		<h1>Global Settings for Course Properties</h1>
		<p>
            IMPORTANT: These values must be configured PRIOR to Course Creation to ensure consistency across your Term & University courses.  This utility will NOT update existing course start/End Dates or Active Status dynamically after the courses have been created.  Changing values here will only change newly created courses for that
			<b-link :to="{ path: '/system/terms' }"
				>University and Term(s) that are set for processing
			</b-link>
		</p>
		<b-card bg-variant="danger" v-if="!hasPermission('get:courseSettings')">
			You do not have permission to view the course settings
		</b-card>
		<b-tabs
			content-class="mt-3"
			id="tabsCampusCourseSettings"
			v-if="hasPermission('get:courseSettings')"
		>
			<b-tab title="UMA">
				<CampusCourseSettings campus="UMS01"></CampusCourseSettings>
			</b-tab>
			<b-tab title="UMF">
				<CampusCourseSettings campus="UMS02"></CampusCourseSettings>
			</b-tab>
			<b-tab title="UMFK">
				<CampusCourseSettings campus="UMS03"></CampusCourseSettings>
			</b-tab>
			<b-tab title="UMM">
				<CampusCourseSettings campus="UMS04"></CampusCourseSettings>
			</b-tab>
			<b-tab title="UM">
				<CampusCourseSettings campus="UMS05"></CampusCourseSettings>
			</b-tab>
			<b-tab title="USM">
				<CampusCourseSettings campus="UMS06"></CampusCourseSettings>
			</b-tab>
			<b-tab title="UMPI">
				<CampusCourseSettings campus="UMS07"></CampusCourseSettings>
			</b-tab>
		</b-tabs>
		<AdminHelpTooltip
			target="tabsCampusCourseSettings"
			permissions="get:courseSettings"
		/>
	</AppPage>
</template>

<script>
import { mapGetters } from "vuex";

export default {
	computed: { ...mapGetters({hasPermission:"Navbar/hasPermission"}) }
};
</script>
