<template>
	<AppPage>
		<h1>Processing Campus/Terms</h1>
		<p>
			Campus/Terms listed will be processed.
		</p>
		<p>
			Please remove terms that are no longer needed to keep our processes
			running smoothly.
		</p>
		<b-card-group deck>
			<b-overlay
				:show="termsFetching"
				rounded="sm"
				v-if="hasPermission('get:termsToProcess')"
			>
				<b-card
					id="crdCampusTerms"
					title="Campus Terms"
					tag="article"
					style="max-width: 60rem; min-width: 400px;"
					class="mb-2"
					:aria-hidden="termsFetching ? 'true' : null"
				>
					<div class="card-header" v-if="hasPermission('post:termsToProcess')">
						<b-button block pill size="sm" v-b-modal.modalAddTermToProcess
							>Add
						</b-button>
					</div>
					<div class="card-body">
						<b-table
							id="tblTerms"
							:items="filtered"
							:fields="fields"
							striped
							small
						>
							<template slot="top-row" slot-scope="{ fields }">
								<td
									:class="field.class"
									v-for="field in fields"
									:key="field.key"
								>
									<label
										:for="'sort-' + field.key"
										v-if="field.sortable"
										class="sr-only"
										>{{ field.label }}</label
									>
									<input
										:id="'sort-' + field.key"
										v-model="filters[field.key]"
										:placeholder="field.label"
										size="10"
										v-if="field.sortable"
									/>
								</td>
							</template>
							<template v-slot:cell(actions)="row">
								<b-button
									size="sm"
									@click="deleteCampusTerm(row.item)"
									class="mr-1"
									pill
									v-if="hasPermission('delete:termsToProcess')"
								>
									Stop
								</b-button>
							</template>
						</b-table>
					</div>
				</b-card>
				<AdminHelpTooltip
					target="crdCampusTerms"
					permissions="get:termsToProcess"
				/>
			</b-overlay>
			<b-overlay
				:show="statsFetching"
				rounded="sm"
				v-if="hasPermission('get:courses-stats')"
			>
				<b-card
					id="crdCourseStats"
					title="Processing Stats"
					tag="article"
					style="max-width: 20rem; min-width: 250px"
					class="mb-2"
					:aria-hidden="statsFetching ? 'true' : null"
				>
					<b-card-body>
						<p>Courses queued: {{ queuedCourses }}</p>
						<p>
							Max courses processing every 20 minutes: {{ processQuantity }}
						</p>
						<p>Estimated time to completion: {{ timeToCompletion }}</p>
						<p>
							More information on the processes can be found in Confluence under
							<a
								href="https://gojira.its.maine.edu/confluence/display/D2L/MaineStreet+Integrations"
								>MaineStreet Integrations</a
							>
						</p>
					</b-card-body>
				</b-card>
				<AdminHelpTooltip
					target="crdCourseStats"
					permissions="get:courses-stats"
				/>
			</b-overlay>
		</b-card-group>
		<b-modal
			id="modalAddTermToProcess"
			title="Add Term to Process"
			@ok="addTermOk"
			@cancel="addTermCancel"
		>
			<b-form @submit.stop.prevent="addTerm">
				<CampusDDL
					v-model="campus"
					v-bind:populate_globally_selected_campus="false"
					class="mb-3"
				/>
				<TermSelector
					v-model="term"
					v-bind:populate_globally_selected_term="false"
				/>
			</b-form>
		</b-modal>
	</AppPage>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
	data() {
		return {
			campus: null,
			term: "",
			filters: {
				institution: "",
				term: "",
				campusShortName: "",
				termName: ""
			},
			fields: [
				{ key: "campusShortName", label: "Campus", sortable: true, class: "" },
				{
					key: "institution",
					label: "Campus Code",
					sortable: true,
					class: "d-none d-lg-table-cell"
				},
				{ key: "termName", label: "Term", sortable: true, class: "" },
				{
					key: "term",
					label: "Term Code",
					sortable: true,
					class: "d-none d-lg-table-cell"
				}
			]
		};
	},
	computed: {
		...mapGetters({
      items: "System/Terms/termsToProcess",
      coursesStats: "System/Terms/coursesStats",
      statsFetching: "System/Terms/statsFetching",
      termsFetching: "System/Terms/termsFetching",
      hasPermission: "Navbar/hasPermission"
    }),
		queuedCourses() {
			if (this.coursesStats) {
				return this.coursesStats.queuedCourses;
			}

			return "N/A";
		},
		processQuantity() {
			if (this.coursesStats) {
				return this.coursesStats.processQuantity;
			}

			return "N/A";
		},
		timeToCompletion() {
			if (this.queuedCourses === "N/A") {
				return "Waiting for stats from server";
			}
			if (this.queuedCourses <= 0) {
				return "Completed";
			}
			if (this.queuedCourses <= this.processQuantity) {
				return "20 minutes";
			}
			if (this.queuedCourses <= this.processQuantity * 2) {
				return "40 minutes";
			}

			return (
				Math.ceil(this.queuedCourses / (this.processQuantity * 3)) + " hours"
			);
		},
		filtered() {
			return this.items.filter(item => {
				return Object.keys(this.filters).every(key =>
					String(item[key].toLowerCase()).includes(
						this.filters[key].toLowerCase()
					)
				);
			});
		},
		addTermHasErrors() {
			let errs = 0;
			if (this.campus === null || this.campus.length <= 0) {
				errs += 1;
			}
			if (
				this.term.length !== 4 ||
				parseInt(this.term) < 1600 ||
				parseInt(this.term) > 9900
			) {
				errs += 1;
			}

			return errs > 0;
		}
	},
	methods: {
		...mapActions({
      get_termsToProcess: "System/Terms/get_termsToProcess",
      get_coursesStats: "System/Terms/get_coursesStats",
      delete_termsToProcess: "System/Terms/delete_termsToProcess",
      add_termsToProcess: "System/Terms/add_termsToProcess"
    }),
		deleteCampusTerm(item) {
			if (this.hasPermission("delete:termsToProcess")) {
				this.$bvModal
					.msgBoxConfirm(
						"Stop " +
							item.campusShortName +
							" / " +
							item.termName +
							" from processing"
					)
					.then(value => {
						if (value) {
							this.delete_termsToProcess({
								institution: item.institution,
								term: item.term
							});
						}
					});
			}
		},
		addTermOk(modalEvent) {
			if (this.addTermHasErrors) {
				modalEvent.preventDefault();
			}
			this.addTerm();
		},
		addTerm() {
			if (this.hasPermission("post:termsToProcess")) {
				this.$store.dispatch("showCampusDdlErrors");
				this.$store.dispatch("showTermSelectorErrors");

				if (this.addTermHasErrors) {
					return;
				}

				if (
					this.campus !== null &&
					this.campus.length > 0 &&
					this.term.length > 0
				) {
					if (
						this.items.findIndex(
							t => t.institution === this.campus && t.term === this.term
						) === -1
					) {
						this.add_termsToProcess({
							institution: this.campus,
							term: this.term
						});
					} else {
						this.$store.dispatch("Alerts/add_alert", {
							variant: "warning",
							msg: this.term + " is already being processed for " + this.campus
						});
					}
				}
				this.$store.dispatch("hideCampusDdlErrors");
				this.$store.dispatch("hideTermSelectorErrors");
			}
		},
		addTermCancel() {
			this.$store.dispatch("hideCampusDdlErrors");
			this.$store.dispatch("hideTermSelectorErrors");
		}
	},
	mounted() {
		if (this.hasPermission("get:termsToProcess")) {
			this.get_termsToProcess();
		}

		if (this.hasPermission("get:courses-stats")) {
			this.get_coursesStats();
		}

		if (this.hasPermission("delete:termsToProcess")) {
			this.fields.push({
				key: "actions",
				label: "Actions",
				sortable: false,
				class: ""
			});
		}
	}
};
</script>
