<template>
	<AppPage>
		<UserSelectorMaineStreet @change="changeUser" />
		<div v-show="selected_user.length > 0">
			<b-card-group deck class="mt-2">
				<div v-if="hasPermission('get:users')">
					<b-overlay :show="ms_user_info_fetching">
						<b-card title="MaineStreet" class="m-1" id="crdUserMaineStreet">
							<b-card-text
								>Last Name:
								<span class=" font-weight-bold">{{
									ms_user_info.lastName
								}}</span></b-card-text
							>
							<b-card-text
								>First Name:
								<span class=" font-weight-bold">{{
									ms_user_info.firstName
								}}</span></b-card-text
							>
							<b-card-text
								>Middle Name:
								<span class=" font-weight-bold">{{
									ms_user_info.middleName
								}}</span></b-card-text
							>
							<b-card-text
								>User Name:
								<span class=" font-weight-bold">{{
									ms_user_info.username
								}}</span></b-card-text
							>
							<b-card-text
								>Emplid:
								<span class=" font-weight-bold">{{
									ms_user_info.emplid
								}}</span></b-card-text
							>
							<b-card-text
								>Email:
								<span class=" font-weight-bold">{{
									ms_user_info.email
								}}</span></b-card-text
							>
							<div id="divUpdateUserBrightspace">
								<b-button
									v-if="hasPermission('put:lmsUser-byEmplid')"
									:disabled="!userUpdatable"
									@click.stop.prevent="updateUserData"
									>Update Brightspace with this set of user data
								</b-button>
							</div>
							<AdminHelpTooltip
								target="divUpdateUserBrightspace"
								permissions="put:lmsUser-byEmplid"
							/>
						</b-card>
						<AdminHelpTooltip
							target="crdUserMaineStreet"
							permissions="get:users"
						/>
					</b-overlay>
				</div>
				<div v-if="hasPermission('get:lmsUser-byEmplid')">
					<b-overlay :show="bs_user_info_fetching">
						<b-card title="Brightspace" class="m-1" id="crdUserBrightspace">
							<div v-if="bs_user_info.length === 0">
								<b-card-text
									>Can't find this user data from Brightspace
								</b-card-text>
							</div>
							<div v-else>
								<b-card-text
									>Last Name:
									<span class=" font-weight-bold">{{
										bs_user_info.LastName
									}}</span></b-card-text
								>
								<b-card-text
									>First Name:
									<span class=" font-weight-bold">{{
										bs_user_info.FirstName
									}}</span></b-card-text
								>
								<b-card-text
									>Middle Name:
									<span class=" font-weight-bold">{{
										bs_user_info.MiddleName
									}}</span></b-card-text
								>
								<b-card-text
									>User Name:
									<span class=" font-weight-bold">{{
										bs_user_info.UserName
									}}</span></b-card-text
								>
								<b-card-text
									>Emplid:
									<span class=" font-weight-bold">{{
										bs_user_info.OrgDefinedId
									}}</span></b-card-text
								>
								<b-card-text
									>Email:
									<span class=" font-weight-bold">{{
										bs_user_info.ExternalEmail
									}}</span></b-card-text
								>
							</div>
						</b-card>
						<AdminHelpTooltip
							target="crdUserBrightspace"
							permissions="get:lmsUser-byEmplid"
						/>
					</b-overlay>
				</div>
			</b-card-group>
		</div>
	</AppPage>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
export default {
	data() {
		return {
			selected_user: ""
		};
	},
	computed: {
		...mapGetters({
      ms_user_info: "Users/ms_user_info",
      ms_user_info_fetching: "Users/ms_user_info_fetching",
      bs_user_info: "Users/bs_user_info",
      bs_user_info_fetching: "Users/bs_user_info_fetching",
      hasPermission: "Navbar/hasPermission"
    }),
		userUpdatable() {
			if (this.ms_user_info.length === 0 || this.bs_user_info.length === 0) {
				return false;
			}

			if (this.ms_user_info_fetching || this.ms_user_info_fetching) {
				return false;
			}
			return !(
				this.ms_user_info.lastName === this.bs_user_info.LastName &&
				this.ms_user_info.firstName === this.bs_user_info.FirstName &&
				this.ms_user_info.middleName === this.bs_user_info.MiddleName &&
				this.ms_user_info.username === this.bs_user_info.UserName &&
				this.ms_user_info.emplid === this.bs_user_info.OrgDefinedId &&
				this.ms_user_info.email === this.bs_user_info.ExternalEmail
			);
		}
	},
	methods: {
		...mapActions({
      get_ms_user_info: "Users/get_ms_user_info",
      get_bs_user_info: "Users/get_bs_user_info",
      update_bs_user_info: "Users/update_bs_user_info"
    }),
		changeUser(newUser) {
			this.selected_user = newUser;
			if (this.hasPermission("get:lmsUser-byEmplid")) {
				this.get_bs_user_info(newUser);
			}

			if (this.hasPermission("get:users")) {
				this.get_ms_user_info(newUser);
			}
		},
		updateUserData() {
			// todo: change b-card-text to update failed if fail
			if (this.hasPermission("put:lmsUser-byEmplid")) {
				this.update_bs_user_info(this.ms_user_info);
			}
		}
	}
};
</script>
