<template>
  <AppPage>
    <h1>User System Role Override</h1>
    <p>Changes made on this page will not be reflected immediately in Brightspace, but will be updated during the next run of the integration.</p>
    <b-card-group deck>
      <b-overlay :show="fetching" rounded="sm">
        <b-card
            id="crdRoleOverrides"
            title="User System Role Override"
            tag="article"
            style="max-width: 60rem; min-width: 400px;"
            class="mb-2"
            :aria-hidden="fetching ? 'true' : null"
        >
          <div class="card-header" v-if="hasPermission('post:roleOverride')">
            <b-button
                id="btnAddRoleOverride"
                block
                pill
                size="sm"
                v-b-modal.modalAddEditRoleOverride
                @click="clearRoleOverride()"
            >Add
            </b-button>
            <AdminHelpTooltip
                target="btnAddRoleOverride"
                permissions="post:roleOverride"
            />
          </div>
          <div class="card-body">
            <b-table
                id="tblRoleOverrides"
                :items="filtered"
                :fields="fields"
                striped
                small
            >
              <template slot="top-row" slot-scope="{ fields }">
                <td
                    v-for="field in fields"
                    :key="field.key"
                    :class="field.class"
                >
                  <label
                      :for="'sort-' + field.key"
                      v-if="field.sortable"
                      class="sr-only"
                  >{{ field.label }}</label
                  >
                  <input
                      :id="'sort-' + field.key"
                      v-model="filters[field.key]"
                      :placeholder="field.label"
                      size="10"
                      v-if="field.sortable"
                  />
                </td>
              </template>
              <template v-slot:cell(actions)="row">
								<span v-if="hasPermission('post:roleOverride')">
									<b-button
                      :id="'btnEditRoleOverride_' + row.item.userLmsId"
                      size="sm"
                      class="mr-1"
                      pill
                      @click="selectRoleOverride(row.item)"
                      v-b-modal.modalAddEditRoleOverride
                      :disabled="row.item.username === self_username"
                  >
										Edit
									</b-button>
									<AdminHelpTooltip
                      :target="'btnEditRoleOverride_' + row.item.userLmsId"
                      permissions="put:roleOverride"
                  />
								</span>
                <span v-if="hasPermission('delete:roleOverride')">
									<b-button
                      :id="'btnDeleteRoleOverride_' + row.item.userLmsId"
                      size="sm"
                      @click="deleteRoleOverride(row.item)"
                      class="mr-1"
                      pill
                      :disabled="row.item.username === self_username"
                  >
										Delete
									</b-button>
									<AdminHelpTooltip
                      :target="'btnDeleteRoleOverride_' + row.item.userLmsId"
                      permissions="delete:roleOverride"
                  />
								</span>
              </template>
            </b-table>
          </div>
        </b-card>
        <AdminHelpTooltip
            target="crdRoleOverrides"
            permissions="get:roleOverride-all"
        />
      </b-overlay>
    </b-card-group>
    <b-modal
        id="modalAddEditRoleOverride"
        :title="addEditRoleOverrideTitle"
        @ok="addRoleOverrideOk"
    >
      <b-form @submit.stop.prevent="addRoleOverride">
        <b-form-group
            id="fgRoleOverrideUser"
            label="User's LMS ID"
            label-for="txtRoleOverrideUsername"
            description="This is the id that shows in the url for a user"
        >
          <b-form-input
              id="txtRoleOverrideUser"
              v-model="user"
              placeholder="User's LMS ID"
              required
              :disabled="mode === 'edit'"
          ></b-form-input>
        </b-form-group>
        <b-form-select
            id="ddlRole"
            v-model="role"
            :options="lms_roles"
            value-field="identifier"
            text-field="displayName"
            label="Role"
        ></b-form-select>
      </b-form>
    </b-modal>
  </AppPage>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  data() {
    return {
      mode: "",
      user: "",
      role: "",
      showAdminHelpInfo: false,
      isActive: true,
      filters: {
        userLmsId: "",
        username: "",
        emplid: "",
        lastName: "",
        firstName: "",
        roleName: "",
      },
      fields: [
        { key: "username", label: "Username", sortable: true, class: "" },
        { key: "userLmsId", label: "User LMS Id", sortable: true, class: "" },
        { key: "emplid", label: "Emplid", sortable: true, class: "" },
        { key: "lastName", label: "Last Name", sortable: true, class: "" },
        { key: "firstName", label: "First Name", sortable: true, class: "" },
        { key: "roleName", label: "Role Name", sortable: true, class: "" },
        { key: "actions", label: "Actions", sortable: false, class: "" }
      ]
    };
  },
  computed: {
    ...mapGetters({
      items: "Users/RoleOverride/role_overrides",
      lms_roles: "Users/RoleOverride/roles",
      fetching: "Users/RoleOverride/fetching",
      hasPermission:"Navbar/hasPermission",
      self_username: "Navbar/username",}),
    filtered() {
      return this.items.filter(item => {
        return Object.keys(this.filters).every(key =>
            String(item[key])
                .toLowerCase()
                .includes(this.filters[key].toLowerCase())
        );
      });
    },
    addRoleOverrideHasErrors() {
      return this.user === null || this.user.length <= 0 || this.role === null || this.role.length <= 0;
    },
    addEditRoleOverrideTitle() {
      if (this.mode === "edit") {
        return "Edit " + this.user + "'s Role Override";
      }

      return "Add User Role Override";
    },
  },
  methods: {
    ...mapActions({
      get_role_overrides:"Users/RoleOverride/get_role_overrides",
      get_all_roles:"Users/RoleOverride/get_all_roles",
      delete_role_override:"Users/RoleOverride/delete_role_override",
      add_role_override:"Users/RoleOverride/add_role_override",
    }),
    deleteRoleOverride(item) {
      this.$bvModal
          .msgBoxConfirm(
              "Remove " + item.username + "'s role override?"
          )
          .then(value => {
            if (value) {
              this.delete_role_override({
                userLmsId: item.userLmsId
              });
            }
          });
    },
    addRoleOverrideOk(modalEvent) {
      if (this.addRoleOverrideHasErrors) {
        modalEvent.preventDefault();
      }
      this.addRoleOverride();
    },
    addRoleOverride() {
      if (this.addRoleOverrideHasErrors) {
        return;
      }

      if (this.items.findIndex(au => au.username === this.username) === -1) {
        this.add_role_override({
          userLmsId: this.user,
          role: this.role
        });
      } else {
        this.$store.dispatch("Alerts/add_alert", {
          variant: "warning",
          msg: this.user + " already exists"
        });
      }
    },
    clearRoleOverride() {
      this.mode = "add";
      this.user = "";
      this.role = "";
    },
    selectRoleOverride(user) {
      this.mode = "edit";
      this.user = user.userLmsId;
      this.role = user.roleId;
    },
  },
  mounted() {
    if (this.hasPermission("get:roleOverride")) {
      this.get_all_roles();
    }
    if (this.hasPermission("get:roleOverride-all-roles")) {
      this.get_role_overrides();
    }
  }
};
</script>
