<template>
  <AppPage>
    <h1>Copy Master Courses for an Academic Organization</h1>
    <p>For the courses that are selected, will copy the master course into the Brightspace course that matches for the
      institution, term, subject, and number.</p>
    <b-card bg-variant="danger" v-if="!hasPermission('get:courses-byAcadOrg')">
      You do not have permission to copy master courses for academic organizations
    </b-card>
    <div v-if="hasPermission('get:courses-byAcadOrg')">
      <div v-show="!processingCourses">
      <b-overlay :show="fetching">
        <CampusDDL v-model="campus" @change="stopShowingCourseList" class="mb-3"/>
        <TermSelector v-model="term" @change="stopShowingCourseList" />
        <b-form-select
            class="mt-3"
            v-model="acadOrg"
            :options="acadOrgOptions"
            required
        ></b-form-select>
        <b-button
            id="btnFindCourses"
            class="mt-3"
            :disabled="!submittable"
            variant="primary"
            @click="getCourses"
        >Find Courses
        </b-button>
        <AdminHelpTooltip
            target="btnFindCourses"
            permissions="get:courses-byAcadOrg"
        />
        <div class="mt-4"
             v-show="showCourseList">
          <b-button class="m-1" @click.prevent.stop="$refs.tblCourses.selectAllRows()">Select All Courses</b-button>
          <b-button class="m-1" @click.prevent.stop="$refs.tblCourses.clearSelected()">Clear All Selected Courses</b-button>
          <b-button id="btnCopyMastCourses" class="m-1" :disabled="selectedCourses.length===0" v-if="hasPermission('post:courses-bulkCopy')" @click.prevent.stop="copyCourses">Copy Master into Selected Courses</b-button>
          <AdminHelpTooltip
              target="btnCopyMastCourses"
              permissions="post:courses-bulkCopy"
          />
        <b-table
            id="tblCourses"
            ref="tblCourses"
            :items="filtered"
            :fields="fields"
            small
            primary-key="code"
            :tbody-transition-props="transProps"
            selectable
            :aria-hidden="fetching ? 'true' : null"
            select-mode="multi"
            class="mt-3"
            @row-selected="courseSelected"
        >
          <template slot="top-row" slot-scope="{ fields }">
            <td
                :class="field.class"
                v-for="field in fields"
                :key="field.key"
            >
              <label
                  :for="'msCourseSearch-' + field.key"
                  v-if="field.sortable"
                  class="sr-only"
              >{{ field.label }}</label
              >
              <input
                  :id="'msCourseSearch-' + field.key"
                  v-model="filters[field.key]"
                  :placeholder="field.label"
                  size="10"
              />
            </td>
          </template>
        </b-table>
        </div>
      </b-overlay>
      </div>
      <div v-show="processingCourses">
        <h2>Processing Course Copies</h2>
        <p>The selected courses have been queued for processing. This could take a long time as course copies are a very resource intensive process. You can
          <a target="_blank" :href="courseCopyHistoryUrl">View Copy Course History</a> on Brightspace.</p>
        <b-button id="btnReturnToMasterCourseSearch" @click.stop.prevent="finishCopySession">Return</b-button>
        <AdminHelpTooltip
            target="btnReturnToMasterCourseSearch"
            permissions="get:courses-byAcadOrg"
        />
      </div>
    </div>
  </AppPage>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  data () {
    return {
      campus: null,
      term: '',
      acadOrgValue: null,
      acadOrgOptions: [
        {
          value: null,
          text: 'Select the Academic Org'
        },
        {
          value: 'I-DIST',
          text: 'I-DIST'
        }
      ],
        showCourseList: false,
      processingCourses: false,
      filters: {
        institution: "",
        term: "",
        classNumber: "",
        isCombined: "",
        sessionCode: "",
        title: ""
      },
      transProps: {
        name: "flip-list"
      },
      fields: [
        { key: "title", label: "Title", sortable: true },
        { key: "code", label: "Code", sortable: true },
        { key: "instructorNames", label: "Instructor(s)", sortable: true }
      ],
      selectedCourses: [],
      coursesToCopy: []
    };
  },
  computed: {
    ...mapGetters({
      fetching: 'Courses/AcadOrgCopy/fetching',
      courses: 'Courses/AcadOrgCopy/courses',
      hasPermission: 'Navbar/hasPermission',
      showAdminHelpInfo: 'Navbar/showAdminHelpInfo',
      globalCampus: "campus",
      globalTerm: "term",
      lmsUrl: "Navbar/lms_url"
    }),
    acadOrg:{
      get(){
        return this.acadOrgValue;
      },
      set(newValue){
        this.showCourseList = false;
        this.acadOrgValue = newValue;
      }
    },
    courseCopyHistoryUrl(){
      return this.lmsUrl + "/le/conversion/copy/history/View?ou=6606";
    },
    submittable () {
      if (this.campus === null || this.campus.length <= 0) {
        return false;
      }

      if (this.campus !== 'UMS07') {
        return false;
      }

      if (this.term.length <= 0) {
        return false;
      }

      return this.acadOrg !== null;
    },
    filtered() {
      return this.courses.filter(item => {
        return Object.keys(this.filters).every(key =>
            String(item[key].toLowerCase()).includes(
                this.filters[key].toLowerCase()
            )
        );
      });
    },
  },
  methods: {
    ...mapActions({
      get_courses: 'Courses/AcadOrgCopy/get_courses',
      request_course_copies: 'Courses/AcadOrgCopy/request_course_copies'
    }),
    getCourses () {
      if (this.submittable) {
        this.showCourseList = true;
        this.get_courses({
          campus: this.campus, term: this.term, acadOrg: this.acadOrg
        });
      }
    },
    stopShowingCourseList(){
      this.showCourseList = false;
    },
    courseSelected(allSelectedItems){
      this.selectedCourses = allSelectedItems;
    },
    copyCourses(){
      if(this.hasPermission("post:courses-bulkCopy")) {
        this.coursesToCopy = [];
        this.selectedCourses.forEach(c => {
          this.coursesToCopy.push({ code: c.code, lmsId: c.lmsId });
        })

        this.processingCourses = true;

        this.request_course_copies({institution: this.campus, term: this.term, acadOrg: this.acadOrg, coursesToCopy: this.coursesToCopy});
      }
    },
    finishCopySession(){
      this.processingCourses=false;
    }
  },
  mounted () {
    this.campus = this.globalCampus;
    this.term = this.globalTerm;
  }
};
</script>
