<template>
  <AppPage>
    <h1>Course Enrollments</h1>
    <p>Reconcile Course Enrollments</p>
    <CourseSelectorMaineStreet @change="course_selected"/>
    <div v-show="selected_course_code.length > 0">
      <b-card bg-variant="danger" v-if="!hasViewPermission">
        You do not have permission to view course enrollments
      </b-card>
      <b-overlay :show="fetching" v-if="hasViewPermission">
        <b-card class="m-1" id="crdCourseEnrollments">
          <b-table
              id="tblCourseEnrollments"
              ref="tblCourseEnrollments"
              :items="filtered"
              :fields="fields"
              striped
              small
              primary-key="code"
              :tbody-transition-props="transProps"
              :aria-hidden="fetching ? 'true' : null"
          >
            <template slot="top-row" slot-scope="{ fields }">
              <td :class="field.class" v-for="field in fields" :key="field.key">
                <label
                    :for="'courseEnrollments-' + field.key"
                    v-if="field.sortable"
                    class="sr-only"
                >{{ field.label }}</label
                >
                <input
                    v-if="field.filterable"
                    :id="'courseEnrollments-' + field.key"
                    v-model="filters[field.key]"
                    :placeholder="field.label"
                    size="10"
                />
              </td>
            </template>
            <template v-slot:cell(type)="data">
              {{ enrollmentTypeDisplay(data.value) }}
            </template>
            <template v-slot:cell(enrollStatus)="data">
              {{
                data.value === 'bs'
                    ? 'N/A'
                    : data.value === 'E'
                        ? 'Enrolled'
                        : 'Dropped'
              }}
            </template>
            <template v-slot:cell(actions)="data">
              <div v-if="actionable(data.item) !== ''">
                <b-button
                    :id="'btnEnrollmentAction_' + data.item.emplid"
                    @click.prevent.stop="action(data.item)"
                >{{ actionable(data.item) }}
                </b-button
                >
                <AdminHelpTooltip
                    :target="'btnEnrollmentAction_' + data.item.emplid"
                    :permissions="actionPermission(data.item)"
                />
              </div>
              <span>{{ action_status(data.item.emplid) }}</span>
            </template>
          </b-table>
        </b-card>
        <AdminHelpTooltip
            target="crdCourseEnrollments"
            permissions="get:lmsEnrollments-byCode, get:enrollments-byCode"
        />
      </b-overlay>
    </div>
  </AppPage>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';

export default {
  data () {
    return {
      filters: {
        firstName: '',
        lastName: '',
        type: '',
        emplid: '',
        enrollStatus: ''
      },
      transProps: {
        name: 'flip-list'
      },
      fields: [
        { key: 'lastName', label: 'Last', sortable: true, filterable: true },
        { key: 'firstName', label: 'First', sortable: true, filterable: true },
        { key: 'emplid', label: 'Emplid', sortable: true, filterable: true },
        { key: 'type', label: 'Type', sortable: true, filterable: false },
        {
          key: 'enrollStatus',
          label: 'MaineStreet Status',
          sortable: true,
          filterable: false
        },
        {
          key: 'actions',
          label: 'Actions',
          sortable: false,
          filterable: false
        },
        {
          key: 'lmsEnrollStatus',
          label: 'Brightspace Status',
          sortable: true,
          filterable: false
        }
      ]
    };
  },
  computed: {
    ...mapGetters({
      ms_enrollments: 'Courses/Enrollments/ms_enrollments',
      ms_enrollments_fetching: 'Courses/Enrollments/ms_enrollments_fetching',
      bs_enrollments: 'Courses/Enrollments/bs_enrollments',
      bs_enrollments_fetching: 'Courses/Enrollments/bs_enrollments_fetching',
      selected_course_code: 'selected_course_code',
      changed_enrollments: 'Courses/Enrollments/changed_enrollments',
      hasPermission: 'Navbar/hasPermission'
    }),
    items () {
      let items = this.ms_enrollments.slice();
      let bsItems = [];

      this.bs_enrollments.forEach(function (bsEnroll) {
        let foundI = items.findIndex(
            msEnroll => msEnroll.emplid === bsEnroll.OrgDefinedId
        );
        if (foundI === -1) {
          let bsItem = {
            emplid: bsEnroll.OrgDefinedId,
            lastName: bsEnroll.LastName,
            firstName: bsEnroll.FirstName,
            enrollStatus: 'bs',
            type: 'bs',
            lmsEnrollStatus: bsEnroll.RoleName
          };

          bsItems.push(bsItem);
        } else {
          items[foundI].lmsEnrollStatus = bsEnroll.RoleName;
        }
      });

      return items.concat(bsItems);
    },
    fetching () {
      return this.ms_enrollments_fetching || this.bs_enrollments_fetching;
    },
    filtered () {
      return this.items.filter(item => {
        return Object.keys(this.filters).every(key =>
            String(item[key].toLowerCase()).includes(
                this.filters[key].toLowerCase()
            )
        );
      });
    },
    hasViewPermission () {
      return (
          this.hasPermission('get:enrollments-byCode') ||
          this.hasPermission('get:lmsEnrollments-byCode')
      );
    }
  },
  methods: {
    ...mapActions({
      get_ms_enrollments: 'Courses/Enrollments/get_ms_enrollments',
      get_bs_enrollments: 'Courses/Enrollments/get_bs_enrollments',
      enrollment_action: 'Courses/Enrollments/enrollment_action'
    }),
    ...mapMutations({
      set_bs_enrollments: 'Courses/Enrollments/set_bs_enrollments',
      set_ms_enrollments: 'Courses/Enrollments/set_ms_enrollments'
    }),
    course_selected (code) {
      this.set_bs_enrollments([]);
      this.set_ms_enrollments([]);

      if (code.length > 0) {
        if (this.hasPermission('get:lmsEnrollments-byCode')) {
          this.get_bs_enrollments(code);
        }
        if (this.hasPermission('get:enrollments-byCode')) {
          this.get_ms_enrollments(code);
        }
      }
    },
    enrollmentTypeDisplay (type) {
      switch (type) {
        case 'I':
          return 'Instructor';
        case 'S':
          return 'Student';
        case 'X':
          return 'Incomplete Student';
        case 'T':
          return 'Teaching Assistant';
        case 'bs':
          return 'N/A';
        default:
          return 'Unknown';
      }
    },
    action_status (emplid) {
      let changed = this.changed_enrollments.filter(function (ce) {
        return ce.emplid === emplid;
      });
      if (changed.length > 0) {
        return changed[0].status;
      }

      return '';
    },
    actionable (enrollment) {
      if (this.action_status(enrollment.emplid) !== '') {
        return '';
      }

      if (enrollment.enrollStatus === 'bs') {
        if (this.hasPermission('delete:lmsEnrollment')) {
          return 'Delete';
        }
      } else if (enrollment.enrollStatus === 'E') {
        if (
            enrollment.type === 'S' &&
            enrollment.lmsEnrollStatus === 'Learner'
        ) {
          return '';
        }
        if (
            enrollment.type === 'X' &&
            enrollment.lmsEnrollStatus === 'Incomplete Student'
        ) {
          return '';
        }
        if (
            enrollment.type === 'I' &&
            enrollment.lmsEnrollStatus === 'Instructor'
        ) {
          return '';
        }
        if (
            enrollment.type === 'T' &&
            enrollment.lmsEnrollStatus === 'Teaching Assistant'
        ) {
          return '';
        }

        let type = 'Update';
        if (enrollment.lmsEnrollStatus === undefined) {
          type = 'Enroll';
        }

        if (this.hasPermission('post:lmsEnrollment')) {
          return type;
        }
      } else if (enrollment.enrollStatus === 'D') {
        if (enrollment.lmsEnrollStatus && enrollment.lmsEnrollStatus !== '') {
          if (this.hasPermission('delete:lmsEnrollment')) {
            return 'Drop';
          }
        }
      }

      return '';
    },
    actionPermission (enrollment) {
      let action = this.actionable(enrollment);

      switch (action) {
        case 'Delete':
        case 'Drop':
          return 'delete:lmsEnrollment';
        case 'Enroll':
        case 'Update':
          return 'post:lmsEnrollment';
        default:
          return '';
      }
    },
    action (enrollment) {
      let bsEnroll = this.bs_enrollments.filter(function (bse) {
        return bse.OrgDefinedId === enrollment.emplid;
      });
      let user_id = '';
      if (bsEnroll && bsEnroll.length > 0) {
        user_id = bsEnroll[0].Identifier;
      }

      this.enrollment_action({
        action: this.actionable(enrollment),
        emplid: enrollment.emplid,
        course_code: this.selected_course_code,
        course_lms_id: this.ms_enrollments[0].courseLmsId,
        user_lms_id: user_id
      });
    }
  },
  mounted () {
    this.course_selected(this.selected_course_code);
  }
};
</script>
