<template>
  <AppPage>
    <h1>Change Courses' Navbar</h1>
    <p>Change the navbar of all courses for the given institution and term</p>
    <b-card bg-variant="danger" v-if="!hasPermission('post:courses-navbars')">
      You do not have permission to update course navbars
    </b-card>
    <div v-if="hasPermission('post:courses-navbars')">
      <b-overlay :show="change_course_navbar_fetching">
        <CampusDDL v-model="campus" class="mb-3"/>
        <TermSelector v-model="term"/>
        <b-form-input
            class="mt-3"
            id="txtnavbar"
            name="txtnavbar"
            v-model="navbar"
            type="number"
            placeholder="Navbar LMS ID"
            required
        ></b-form-input>
        <b-button
            class="mt-3"
            :disabled="!submittable"
            variant="primary"
            @click="confirmSubmit"
        >Change navbar on all Courses
        </b-button
        >
        <b-modal
            id="mdlConfirm"
            v-model="confirmModal"
            @ok="submitConfirmed"
            title="Warning"
            header-bg-variant="danger"
            header-text-variant="light"
        >
          <p class="my-4">Are you sure?</p>
          <p>
            This action cannot be undone. While you are able to re-run this to
            change the navbar on the courses again, the original navbar that was
            set for the courses is not recorded anywhere, and thus cannot be
            restored.
          </p>
          <p class="my-4">
            There is no validation on the navbar id ({{ navbar }}) that you
            provided, please make sure it is correct.
          </p>
          <p class="my-4">
            This will change the navbar on ALL courses in
            <span class="font-weight-bold">{{ term }}</span> for
            <span class="font-weight-bold">{{ campus }}</span
            >.
          </p>
        </b-modal>
      </b-overlay>
      <div class="mt-5" v-show="change_course_navbar_fetching">
        <b-card
            bg-variant="danger"
            text-variant="white"
            header="Warning"
            title="Update in Progress"
        >
          <b-card-text>
            Please do not navigate away from this page. Your request will take a
            very long time. If you navigate away from this page, the operation
            will still continue in the background, but you will not see whether
            it was successful or not.
          </b-card-text>
        </b-card>
      </div>
      <div class="mt-5" v-show="show_results">
        <b-card
            header="Operation Results"
            title="Success"
            v-show="change_course_navbar_errors === null"
        >
          <b-card-text>
            Operation successful on all {{ campus }} courses for the term,
            {{ term }}
          </b-card-text>
          <b-button @click.stop.prevent="finish_operation"
          >Acknowledge to run operation again
          </b-button
          >
        </b-card>
        <b-card
            header="Operation Results"
            title="Error(s)"
            v-show="change_course_navbar_errors !== null"
        >
          <b-button class="my-2" @click.stop.prevent="finish_operation"
          >Acknowledge to run operation again
          </b-button
          >
          <p class="my-2">The operation produced the following error(s):</p>
          <b-table class="my-2" striped :items="change_course_navbar_errors">
          </b-table>
          <b-button class="my-2" @click.stop.prevent="finish_operation"
          >Acknowledge to run operation again
          </b-button
          >
        </b-card>
      </div>
    </div>
  </AppPage>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex';

export default {
  data () {
    return {
      campus: null,
      term: '',
      navbar: '',
      confirmModal: false
    };
  },
  computed: {
    ...mapGetters({
      change_course_navbar_fetching: 'Courses/Navbar/change_course_navbar_fetching',
      change_course_navbar_errors: 'Courses/Navbar/change_course_navbar_errors',
      change_course_navbar_in_progress: 'Courses/Navbar/change_course_navbar_in_progress',
      hasPermission: 'Navbar/hasPermission',
      showAdminHelpInfo: 'Navbar/showAdminHelpInfo'
    }),
    int_navbar () {
      if (this.navbar.length <= 0) {
        return 0;
      }

      let h = parseInt(this.navbar);
      if (isNaN(h)) {
        return 0;
      }

      if (h <= 0) {
        return 0;
      }

      return h;
    },
    submittable () {
      if (this.campus === null || this.campus.length <= 0) {
        return false;
      }

      if (this.term.length <= 0) {
        return false;
      }

      if (this.change_course_navbar_in_progress) {
        return false;
      }

      return this.int_navbar > 0;
    },
    show_results () {
      return (
          this.change_course_navbar_fetching === false &&
          this.change_course_navbar_in_progress === true
      );
    }
  },
  methods: {
    ...mapActions({ update_course_navbars: 'Courses/Navbar/update_course_navbars' }),
    ...mapMutations({ set_change_course_navbar_in_progress: 'Courses/Navbar/set_change_course_navbar_in_progress' }),
    confirmSubmit () {
      if (this.hasPermission('post:courses-navbars')) {
        this.confirmModal = true;
      }
    },
    submitConfirmed () {
      if (this.hasPermission('post:courses-navbars')) {
        let payload = {
          institution: this.campus,
          term: this.term,
          navbar: this.navbar
        };

        this.update_course_navbars(payload);
      }
    },
    finish_operation () {
      this.set_change_course_navbar_in_progress(false);
    }
  },
  mounted () {}
};
</script>
