<template>
	<div>
		<b-card title="Unauthorized" bg-variant="danger">
			<b-card-text
				>The page you are trying to access is not allowed.</b-card-text
			>
		</b-card>
	</div>
</template>

<script>
export default {};
</script>
