<template>
	<AppPage>
		<h1>Delete a Defunct Course from Brightspace</h1>
		<CourseSelectorMaineStreet
			@change="selected_course_changed"
			data_source="/courses/defunct/"
			:populate_globally_selected_code="false"
		/>
		<div v-show="local_selected_course_code.length > 0">
			<DeleteCourse
				:recreate_course_after_delete="false"
				v-model="local_selected_course_code"
				v-on:course_deleted="course_deleted"
			/>
		</div>
	</AppPage>
</template>

<script>
import { mapMutations } from "vuex";

export default {
	data() {
		return {
			local_selected_course_code: ""
		};
	},
	methods: {
		...mapMutations({
      set_selected_course_code:"set_selected_course_code"
    , set_coursesMS:"CourseSelectorMaineStreet/set_coursesMS"}),
		selected_course_changed(course) {
			this.local_selected_course_code = course;
		},
		reset_mainestreet_course_selector() {
			this.set_selected_course_code("");
			this.set_coursesMS([]);
		},
		course_deleted() {
			this.$store.dispatch("Alerts/add_alert", {
				variant: "success",
				msg: this.local_selected_course_code + " has been deleted successfully."
			});
		}
	},
	created() {
		this.reset_mainestreet_course_selector();
	},
	destroyed() {
		this.reset_mainestreet_course_selector();
	}
};
</script>
