<template>
	<AppPage>
		<h1>Delete a Course from Brightspace</h1>
		<CourseSelectorMaineStreet
			@change="selected_course_changed"
			:key="course_selector_key"
		/>
		<div v-show="local_selected_course_code.length > 0">
			<DeleteCourse
				v-model="local_selected_course_code"
				v-on:course_recreated="course_recreated"
			/>
		</div>
	</AppPage>
</template>

<script>

export default {
	data() {
		return {
			local_selected_course_code: "",
			course_selector_key: 0
		};
	},
	methods: {
		selected_course_changed(course) {
			this.local_selected_course_code = course;
		},
		course_recreated() {
			this.course_selector_key += 1;
		}
	}
};
</script>
