<template>
	<div>
		<div
			:id="'divAdminPermissionCheckbox_' + uniqueId"
			@click.prevent.stop="flipValue"
		>
			<b-form-checkbox v-model="isChecked" :disabled="isDisabled">
				{{ label }}
			</b-form-checkbox>
		</div>
		<AdminHelpTooltip
			:target="'divAdminPermissionCheckbox_' + uniqueId"
			:permissions="permissionNeeded"
		/>
	</div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from "vuex";

export default {
	props: [
		"uniqueId",
		"adminUserId",
		"adminPermissionId",
		"adminPageRouteName",
		"name",
		"label"
	],
	computed: {
		...mapGetters({
      adminPermissionCheckboxValue: "AdminPermissionCheckbox/adminPermissionCheckboxValue",
      adminPageCheckboxValue: "AdminPageCheckbox/adminPageCheckboxValue",
      adminUser: "System/AdminUserPermissions/adminUser",
      username: "Navbar/username",
      hasPermission: "Navbar/hasPermission"
    }),
		isDisabled() {
			if (!this.isPermitted) {
				return true;
			}

			return !this.adminPageCheckboxValue(this.adminPageRouteName);
		},
		isPermitted() {
			if (!this.adminUser) {
				return false;
			}

			if (this.username === this.adminUser.username) {
				return false;
			}

			return this.hasPermission(this.permissionNeeded);
		},
		permissionNeeded() {
			if (this.isChecked) {
				return "delete:adminUserPermission";
			}

			return "post:adminUserPermission";
		},
		isChecked: {
			get: function() {
				return this.adminPermissionCheckboxValue(this.name);
			},
			set: function() {}
		}
	},
	methods: {
		...mapMutations({
      set_adminPermissionCheckboxValue: "AdminPermissionCheckbox/set_adminPermissionCheckboxValue"
    }),
		...mapActions({add_adminUserPermission: "AdminPermissionCheckbox/add_adminUserPermission",
      delete_adminUserPermission:"AdminPermissionCheckbox/delete_adminUserPermission"}),
		flipValue() {
			if (this.isPermitted && !this.isDisabled) {
				let payload = {
					adminUserId: this.adminUserId,
					adminPermissionId: this.adminPermissionId
				};
				if (this.isChecked) {
					this.delete_adminUserPermission(payload);
				} else {
					this.add_adminUserPermission(payload);
				}
				this.set_adminPermissionCheckboxValue({
					name: this.name,
					value: !this.isChecked
				});
			}
		}
	}
};
</script>
