<template>
	<b-tooltip :target="target" triggers="hover" v-if="showAdminHelpInfo">
		Permissions: {{ permissions }}
	</b-tooltip>
</template>

<script>
import { mapGetters } from "vuex";

export default {
	props: ["target", "permissions"],
	data() {
		return {};
	},
	computed: {
		...mapGetters({
      showAdminHelpInfo:"Navbar/showAdminHelpInfo"
    })
	}
};
</script>
