<template>
	<div>
		<div
			:id="'divAdminPageCheckbox_' + adminPageId"
			@click.prevent.stop="flipValue"
		>
			<b-form-checkbox
				v-model="isChecked"
				:disabled="!isPermitted"
				switch
				size="lg"
			>
				<h6 class="mb-0 text-primary font-weight-bolder">{{ routeName }}</h6>
			</b-form-checkbox>
		</div>
		<AdminHelpTooltip
			:target="'divAdminPageCheckbox_' + adminPageId"
			:permissions="permissionNeeded"
		/>
	</div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";

export default {
	props: ["adminUserId", "adminPageId", "routeName"],
	computed: {
		...mapGetters({
      adminPageCheckboxValue: "AdminPageCheckbox/adminPageCheckboxValue",
      adminUser: "System/AdminUserPermissions/adminUser",
      username: "Navbar/username",
      hasPermission: "Navbar/hasPermission"
    }),
		isChecked: {
			get: function() {
				return this.adminPageCheckboxValue(this.routeName);
			},
			set: function() {}
		},
		isPermitted() {
			if (!this.adminUser) {
				return false;
			}

			if (this.username === this.adminUser.username) {
				return false;
			}

			return this.hasPermission(this.permissionNeeded);
		},
		permissionNeeded() {
			if (this.isChecked) {
				return "delete:adminUserPage";
			}

			return "post:adminUserPage";
		}
	},
	methods: {
		...mapActions({
      add_adminUserPage: "AdminPageCheckbox/add_adminUserPage"
    , delete_adminUserPage:"AdminPageCheckbox/delete_adminUserPage"}),
		...mapMutations({set_adminPageCheckboxValue:"AdminPageCheckbox/set_adminPageCheckboxValue"}),
		flipValue() {
			if (this.isPermitted) {
				let payload = {
					adminUserId: this.adminUserId,
					adminPageId: this.adminPageId
				};
				if (this.isChecked) {
					this.delete_adminUserPage(payload);
				} else {
					this.add_adminUserPage(payload);
				}
				this.set_adminPageCheckboxValue({
					routeName: this.routeName,
					value: !this.isChecked
				});
			}
		}
	}
};
</script>
