<template>
	<b-container>
		<div v-if="is_alert">
			<template v-for="alert in alerts">
				<b-row :key="alert.id">
					<b-col>
						<b-alert
							dismissible
							@dismissed="delete_alert(alert.id)"
							:variant="alert.variant"
							show
						>
							<span v-html="alert.msg"></span>
						</b-alert>
					</b-col>
				</b-row>
			</template>
		</div>
	</b-container>
</template>

<script>
import { mapGetters } from "vuex";

export default {
	computed: {
		...mapGetters({
      alerts: "Alerts/alerts",
      is_alert: "Alerts/is_alert"
    })
	},
	methods: {
		delete_alert(alert_id) {
			this.$store.dispatch("Alerts/delete_alert", alert_id);
		}
	}
};
</script>

<style scoped></style>
