<template>
	<div>
		<div v-if="!hasPermission('get:courseSettings')">
			<b-card bg-variant="danger">
				You do not have permission to view the course settings
			</b-card>
		</div>
		<div v-if="hasPermission('get:courseSettings')">
			<b-overlay :show="fetchingData" rounded="sm">
				<h2>Active</h2>
				<b-form-checkbox
					:id="'chkIsActive_' + campus"
					:name="'chkIsActive_' + campus"
					v-model="isActive"
					>Courses are active</b-form-checkbox
				>
				<h2 class="mt-4">Start Date</h2>
				<b-form-checkbox
					:id="'chkSetStartDate_' + campus"
					:name="'chkSetStartDate_' + campus"
					v-model="setStartDate"
					>Courses have a start date</b-form-checkbox
				>
				<label :for="'chkStartDateOffset' + campus"
					>Number of days to add to the MaineStreet defined start date</label
				>
				<b-form-input
					:id="'chkStartDateOffset' + campus"
					:name="'chkStartDateOffset' + campus"
					type="number"
					v-model="startDateOffset"
					:disabled="startDateOffsetDisabled"
				></b-form-input>
				<b-form-text
					>A negative number will make the date earlier than defined, while a
					positive number will make a later date.</b-form-text
				>
				<h2 class="mt-4">End Date</h2>
				<b-form-checkbox
					:id="'chkSetEndDate' + campus"
					:name="'chkSetEndDate' + campus"
					v-model="setEndDate"
					>Courses have an end date</b-form-checkbox
				>
				<label :for="'chkEndDateOffset' + campus"
					>Number of days to add to the MaineStreet defined end date</label
				>
				<b-form-input
					:id="'chkEndDateOffset' + campus"
					:name="'chkEndDateOffset' + campus"
					type="number"
					v-model="endDateOffset"
					:disabled="endDateOffsetDisabled"
				></b-form-input>
				<b-form-text>
					A negative number will make the date earlier than defined, while a
					positive number will make a later date.
				</b-form-text>

				<b-btn
					variant="primary"
					class="my-5"
					@click="save()"
					:id="'btnSaveCourseSettings_' + campus"
					v-if="hasPermission('put:courseSettings')"
					>Save</b-btn
				>
				<AdminHelpTooltip
					:target="'btnSaveCourseSettings_' + campus"
					permissions="put:courseSettings"
				/>
			</b-overlay>
		</div>
	</div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
	props: {
		campus: {
			type: String,
			default: ""
		}
	},
	data() {
		return {
			isActive: false,
			setStartDate: false,
			startDateOffset: 0,
			setEndDate: false,
			endDateOffset: 0,
			fetchingData: false
		};
	},
	computed: {
		...mapGetters({hasPermission: "Navbar/hasPermission"}),
		startDateOffsetDisabled() {
			return this.setStartDate !== true;
		},
		endDateOffsetDisabled() {
			return this.setEndDate !== true;
		}
	},
	methods: {
		...mapActions({
      get_course_settings:"CampusCourseSettings/get_course_settings"
    , update_course_settings:"CampusCourseSettings/update_course_settings"}),
		save() {
			if (this.hasPermission("put:courseSettings")) {
				this.fetchingData = true;
				let payload = {
					campus: this.campus,
					...this.$data
				};
				let vThis = this;
				this.update_course_settings(payload)
					.then(function() {
						vThis.getCourseSettings();
					})
					.catch(function() {
						vThis.clearSettings();
					});
			}
		},
		clearSettings() {
			this.isActive = false;
			this.setStartDate = false;
			this.startDateOffset = 0;
			this.setEndDate = false;
			this.endDateOffset = 0;
		},
		getCourseSettings() {
			if (this.hasPermission("get:courseSettings")) {
				this.fetchingData = true;
				let vThis = this;
				this.get_course_settings(this.campus)
					.then(function(data) {
						vThis.isActive = data.isActive;
						vThis.setStartDate = data.setStartDate;
						vThis.startDateOffset = data.startDateOffset;
						vThis.setEndDate = data.setEndDate;
						vThis.endDateOffset = data.endDateOffset;
					})
					.catch(function() {
						vThis.clearSettings();
					})
					.finally(function() {
						vThis.fetchingData = false;
					});
			}
		}
	},
	mounted() {
		if (this.hasPermission("get:courseSettings")) {
			this.getCourseSettings();
		}
	}
};
</script>
