<template>
	<div>
		<b-form-select
			id="ddlCampus"
			v-model="selected"
			v-on:change="onChange"
			:options="options"
			:state="campusState"
			label="Campus"
		></b-form-select>
		<b-form-invalid-feedback v-show="!campusState" id="ddlCampus">
			Campus is required, please select one
		</b-form-invalid-feedback>
	</div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from "vuex";

export default {
	props: {
		value: {},
		populate_globally_selected_campus: {
			type: Boolean,
			default: true
		}
	},
	model: {
		prop: "value",
		event: "change"
	},
	data() {
		return {
			options: [
				{ value: null, text: "Select Campus" },
				{ value: "UMS01", text: "UMA" },
				{ value: "UMS02", text: "UMF" },
				{ value: "UMS03", text: "UMFK" },
				{ value: "UMS04", text: "UMM" },
				{ value: "UMS05", text: "UM" },
				{ value: "UMS06", text: "USM" },
				{ value: "UMS07", text: "UMPI" }
			],
			local_campus: ""
		};
	},
	computed: {
		...mapGetters(["campusDdlVisited", "campus"]),
		selected: {
			get() {
				return this.local_campus;
			},
			set(value) {
				this.local_campus = value;
				if (!(this.populate_globally_selected_campus === false)) {
					this.set_campus(value);
				}
			}
		},
		visited: {
			get: function() {
				return this.campusDdlVisited;
			},
			set: function(newValue) {
				this.showCampusDdlErrors(newValue);
			}
		},
		campusState() {
			if (!this.visited) {
				return null;
			}

			return this.selected !== null;
		}
	},
	methods: {
		...mapActions(["showCampusDdlErrors"]),
		...mapMutations(["set_campus"]),
		onChange() {
			this.visited = true;
			this.$emit("change", this.selected);
		}
	},
	mounted() {
		this.local_campus = this.campus;
	}
};
</script>
