<template>
	<div>
		<b-form-group :id="unique_id" :label="label" :label-for="unique_id">
			<div :id="'divCourseIdInput_' + unique_id">
				<b-form-input
					v-on:change="onChange"
					:id="unique_id"
					v-model="course_id"
					:state="course_id_state"
					:placeholder="label"
					:disabled="disable_input"
				></b-form-input>
			</div>
			<AdminHelpTooltip
				:target="'divCourseIdInput_' + unique_id"
				:permissions="permissionsNeeded"
			/>
			<slot name="description" :id="'slotDescription_' + unique_id">
				<div :id="'divDescription_' + unique_id" class="text-muted">
					{{ title }}
				</div>
			</slot>
			<AdminHelpTooltip
				:target="'divDescription_' + unique_id"
				permissions="get:lmsCourse"
			/>
		</b-form-group>
	</div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
	props: ["value", "read_only", "lms_id", "type", "term"],
	model: {
		prop: "value",
		event: "change"
	},
	data() {
		return {
			course_id: "",
			title: ""
		};
	},
	computed: {
		...mapGetters({
      hasPermission: "Navbar/hasPermission"
    }),
		course_id_state() {
			if (this.title === undefined || this.course_id === undefined) {
				return null;
			}

			if (this.title.length === 0 || this.disable_input) {
				return null;
			}

			return this.course_id.length > 0 && !this.title.startsWith("Error");
		},
		disable_input() {
			if (!this.canChange) {
				return true;
			}

			return this.read_only === true;
		},
		label() {
			if (this.term && this.term.length > 0) {
				return (
					this.term.charAt(0).toUpperCase() + this.term.slice(1) + " Course Id"
				);
			}

			return "Course Id";
		},
		unique_id() {
			let id = "frmCourseId_" + this.lms_id;

			if (this.term && this.term.length > 0) {
				id += "_" + this.term;
			}

			return id;
		},
		canChange() {
			if (this.type === "courseCopy") {
				return true;
			}

			return this.hasPermission("put:" + this.type);
		},
		permissionsNeeded() {
			let basePerms = "get:lmsCourse-byCode";
			if (this.type === "courseCopy") {
				return basePerms;
			}
			return basePerms + ", put:" + this.type;
		}
	},
	methods: {
		...mapActions( {
      get_course_title: "CourseIdInput/get_course_title",
      update_master_course: "Mast"
    }),
		onChange() {
			this.title = "";
			if (
				this.read_only === false &&
				this.type !== "courseCopy" &&
				this.canChange
			) {
				let payload = {
					type: this.type,
					course_id: this.course_id,
					id: this.lms_id,
					term: this.term
				};
				this.update_master_course(payload);
			}
			if (this.course_id.length > 0 && this.hasPermission("get:lmsCourse")) {
				let vThis = this;
				this.get_course_title(this.course_id)
					.then(function(title) {
						vThis.title = title;
					})
					.catch(function() {
						vThis.title = "Error getting course title from Brightspace";
					});
			}
		}
	},
	watch: {
		title() {
			let id = "";
			if (this.course_id_state === true) {
				id = this.course_id;
			}
			this.$emit("change", id);
		}
	},
	created() {
		if (this.value !== undefined && this.value.length > 0) {
			this.course_id = this.value;
			if (this.hasPermission("get:lmsCourse")) {
				let vThis = this;
				this.get_course_title(this.course_id)
					.then(function(title) {
						vThis.title = title;
					})
					.catch(function() {
						vThis.title = "Error getting course title from Brightspace";
					});
			}
		}
	}
};
</script>
