<template>
	<div>
		<b-card bg-variant="danger" v-if="!hasPermission('get:lmsCourse-byCode')">
			You do not have permission to access/delete a course
		</b-card>
		<div
			v-if="hasPermission('get:lmsCourse-byCode')"
			id="divDeleteCourseComponent"
		>
			<b-overlay :show="bs_delete_course_lms_id_fetching">
				<b-card v-show="bs_delete_course_lms_id_fetching" title="Working">
					Getting Course Status in Brightspace
				</b-card>
				<div
					v-show="
						!bs_delete_course_lms_id_fetching && !show_course_deleted_message
					"
				>
					<b-card
						v-show="course_exists_in_bs"
						title="Delete Course"
						class="m-1"
					>
						<div v-if="actionAllowed">
							<div id="divDeleteCourseButton">
								<b-button
									variant="primary"
									@click.stop.prevent="delete_course_in_lms"
									:disabled="course_delete_in_process"
									>Delete the course in Brightspace
								</b-button>
							</div>
							<AdminHelpTooltip
								target="divDeleteCourseButton"
								:permissions="permissionsNeeded"
							/>
						</div>
						<b-card-body body-bg-variant="danger" v-if="!actionAllowed"
							>Course exists in Brightspace, but you are not allowed to delete
							it</b-card-body
						>
					</b-card>
					<b-card
						v-show="!course_exists_in_bs"
						title="Course doesn't exist in Brightspace"
						class="m-1"
					>
					</b-card>
				</div>
			</b-overlay>
			<div v-show="show_course_deleted_message">
				<b-card title="Course Deleted" class="my-1">
					<b-card-text
						>{{ selected_course_code }} has been deleted
						successfully.</b-card-text
					>
					<b-card-text v-show="recreate_course_after_delete"
						>Course will be recreated shortly, if it hasn't already
						been.</b-card-text
					>
					<b-button
						@click.prevent.stop="
							show_course_deleted_message = !show_course_deleted_message
						"
						>Dismiss</b-button
					>
				</b-card>
			</div>
			<div v-show="course_delete_in_process && recreate_course_after_delete">
				<b-overlay :show="bs_recreate_course_lms_id_fetching">
					<b-card title="Course Recreated" class="m-1">
						<b-link target="_blank" :href="course_url"
							>{{ selected_course_code }}
						</b-link>
					</b-card>
				</b-overlay>
			</div>
		</div>
		<AdminHelpTooltip
			target="divDeleteCourseComponent"
			permissions="get:lmsCourse-byCode"
		/>
	</div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
	model: {
		prop: "value",
		event: "change"
	},
	props: {
		value: {},
		recreate_course_after_delete: {
			type: Boolean,
			default: true
		}
	},
	data() {
		return {
			course_delete_in_process: false,
			show_course_deleted_message: false
		};
	},
	computed: {
		...mapGetters({
      bs_delete_course_lms_id:"Courses/Delete/bs_delete_course_lms_id",
      bs_delete_course_lms_id_fetching: "Courses/Delete/bs_delete_course_lms_id_fetching",
      bs_recreate_course_lms_id_fetching:"Courses/Delete/bs_recreate_course_lms_id_fetching",
      bs_recreate_course_lms_id:"Courses/Delete/bs_recreate_course_lms_id",
      hasPermission:"Navbar/hasPermission",
      lms_url_for_course: "Navbar/lms_url_for_course"
    }),
		course_exists_in_bs() {
			return this.bs_delete_course_lms_id !== null;
		},
		course_url() {
			if (!this.course_exists_in_bs) {
				return "";
			}
			return this.lms_url_for_course(this.bs_recreate_course_lms_id);
		},
		selected_course_code() {
			if (!this.value) {
				return "";
			}

			return this.value;
		},
		permissionsNeeded() {
			if (this.recreate_course_after_delete) {
				return "delete:lmsCourse-byCode, post:lmsCourse";
			}

			return "delete:lmsCourse-byCode";
		},
		actionAllowed() {
			let allowed = this.hasPermission("delete:lmsCourse-byCode");
			if (
				this.recreate_course_after_delete &&
				!this.hasPermission("post:lmsCourse")
			) {
				allowed = false;
			}

			return allowed;
		}
	},
	methods: {
		...mapActions({
      get_bs_delete_course_lms_id:"Courses/Delete/get_bs_delete_course_lms_id",
      delete_course:"Courses/Delete/delete_course",
      recreate_course:"Courses/Delete/recreate_course"
    }),
		delete_course_in_lms() {
			if (this.actionAllowed) {
				this.course_delete_in_process = true;
				let vThis = this;
				if (this.selected_course_code.length > 0) {
					this.delete_course(this.selected_course_code).then(function() {
						vThis.show_course_deleted_message = true;
						vThis.$emit("course_deleted");
						if (vThis.recreate_course_after_delete) {
							vThis
								.recreate_course(vThis.selected_course_code)
								.then(function() {
									vThis.$emit("course_recreated");
								})
								.finally(function() {
									vThis.get_bs_delete_course_lms_id(vThis.selected_course_code);
									vThis.course_delete_in_process = false;
								});
						} else {
							vThis.get_bs_delete_course_lms_id(vThis.selected_course_code);
							vThis.course_delete_in_process = false;
						}
					});
				}
			}
		}
	},
	mounted() {
		this.show_course_deleted_message = false;
	},
	watch: {
		value: function(newValue) {
			if (this.hasPermission("get:lmsCourse-byCode")) {
				this.course_delete_in_process = false;
				if (newValue && newValue.length > 0) {
					this.get_bs_delete_course_lms_id(newValue);
				}
			}
		}
	}
};
</script>
