<template>
	<b-container class="pt-3">
		<div>&copy; University of Maine System {{ new Date().getFullYear() }}</div>
	</b-container>
</template>

<script>
export default {};
</script>

<style scoped></style>
