<template>
	<div class="mb-3">
		<h1 class="sr-only">Brightspace Integration Actions</h1>
		<div>
			<b-navbar toggleable="lg" type="dark" variant="primary">
				<b-navbar-brand :to="{ path: '/' }">Home</b-navbar-brand>

				<b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

				<b-collapse id="nav-collapse" is-nav>
					<b-navbar-nav class="text-light">
						<b-nav-item-dropdown text="Users" right v-if="showUsers">
							<b-dropdown-item
								:to="{ path: '/users/refresh' }"
								v-if="hasPage('users-refresh')"
								>Information</b-dropdown-item
							>
							<b-dropdown-item
								:to="{ path: '/users/enrollments/system' }"
								v-if="hasPage('users-system-enrollments')"
								disabled
								>System Role</b-dropdown-item
							>
							<b-dropdown-item
								:to="{ path: '/users/enrollments/courses' }"
								v-if="hasPage('users-course-enrollments')"
								disabled
								>Courses</b-dropdown-item
							>
              <b-dropdown-item
                  :to="{ path: '/users/role-override' }"
                  v-if="hasPage('users-role-override')"
              >Role Override</b-dropdown-item
              >
						</b-nav-item-dropdown>
						<b-nav-item-dropdown text="Courses" right v-if="showCourses">
							<b-dropdown-item
								:to="{ path: '/courses/linking' }"
								v-if="hasPage('courses-linking')"
								>Linking</b-dropdown-item
							>
							<b-dropdown-item
								:to="{ path: '/courses/add' }"
								v-if="hasPage('courses-add')"
								>Add Real</b-dropdown-item
							>
							<b-dropdown-item
								:to="{ path: '/courses/add-dev' }"
								v-if="hasPage('courses-add-dev')"
								>Add Dev</b-dropdown-item
							>
							<b-dropdown-item
								:to="{ path: '/courses/add-dev' }"
								v-if="hasPage('courses-add-dev')"
								>Add Master</b-dropdown-item
							>
							<b-dropdown-item
								:to="{ path: '/courses/refresh' }"
								v-if="hasPage('courses-refresh')"
								>Refresh</b-dropdown-item
							>
							<b-dropdown-item
								:to="{ path: '/courses/enrollments' }"
								v-if="hasPage('courses-enrollments')"
								>Enrollments</b-dropdown-item
							>
							<b-dropdown-item
								:to="{ path: '/courses/delete' }"
								v-if="hasPage('courses-delete')"
								>Delete Real</b-dropdown-item
							>
							<b-dropdown-item
								:to="{ path: '/courses/delete/defunct' }"
								v-if="hasPage('courses-delete-defunct')"
								>Delete Defunct</b-dropdown-item
							>
							<b-dropdown-item
								:to="{ path: '/courses/homepage' }"
								v-if="hasPage('courses-homepage')"
								>Change Homepages</b-dropdown-item
							>
							<b-dropdown-item
								:to="{ path: '/courses/navbar' }"
								v-if="hasPage('courses-navbar')"
								>Change Navbars</b-dropdown-item
							>
							<b-dropdown-item
								:to="{ path: '/courses/acad-org-copy' }"
								v-if="hasPage('courses-acad-org-copy')"
								>Copy Academic Org</b-dropdown-item
							>
						</b-nav-item-dropdown>
						<b-nav-item-dropdown text="System" right v-if="showSystem">
							<b-dropdown-item
								:to="{ path: '/system/terms' }"
								v-if="hasPage('system-terms')"
								>Terms</b-dropdown-item
							>
							<b-dropdown-item
								:to="{ path: '/system/master-courses' }"
								v-if="hasPage('system-master-courses')"
								>Master Courses</b-dropdown-item
							>
							<b-dropdown-item
								:to="{ path: '/system/course-settings' }"
								v-if="hasPage('system-course-settings')"
								>Course Settings</b-dropdown-item
							>
							<b-dropdown-item
								:to="{ path: '/system/admin-users' }"
								v-if="hasPage('system-admin-users')"
								>Admin Users</b-dropdown-item
							>
						</b-nav-item-dropdown>
					</b-navbar-nav>
					<b-nav-text class="ml-auto text-light"
						>{{ environment }} Environment</b-nav-text
					>
					<b-navbar-nav class="ml-auto">
						<b-nav-item href="#">{{ username }}</b-nav-item>
					</b-navbar-nav>
				</b-collapse>
			</b-navbar>
		</div>
	</div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
	data() {
		return {};
	},
	computed: {
    ...mapGetters({
      environment: "Navbar/environment",
      username: "Navbar/username",
      hasPage: 'Navbar/hasPage'
    }),
		showSystem() {
			return (
				this.hasPage("system-terms") ||
				this.hasPage("system-master-courses") ||
				this.hasPage("system-course-settings") ||
				this.hasPage("system-admin-users")
			);
		},
		showUsers() {
			return (
				this.hasPage("users-refresh") ||
				this.hasPage("users-system-enrollments") ||
				this.hasPage("users-course-enrollments")
			);
		},
		showCourses() {
			return (
				this.hasPage("courses-linking") ||
				this.hasPage("courses-add") ||
				this.hasPage("courses-add-dev") ||
				this.hasPage("courses-refresh") ||
				this.hasPage("courses-enrollments") ||
				this.hasPage("courses-delete") ||
				this.hasPage("courses-delete-defunct") ||
				this.hasPage("courses-homepage") ||
				this.hasPage("courses-navbar")
			);
		}
	},
	mounted() {
		this.$store.dispatch('Navbar/get_environment');
	}
};
</script>
